@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
*{
    font-family: 'Barlow', sans-serif;
}

/* nav */
.navbar {
    text-decoration: none;
}
.contact {
    text-decoration: none;
}
.nav-link {
    color: #f1672d;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 20px;
}
/* NavLinkHover -START- */
.nav-link {
    box-shadow: inset 0 0 0 0 #f1672d;
    color: #f1672d;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.nav-link:hover {
    box-shadow: inset 1000px 0 0 0 #f1672d;
    color: white;
}
/* ------------ */
.dropdown-item {
    box-shadow: inset 0 0 0 0 #f1672d;
    color: #f1672d;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.dropdown-item:hover {
    box-shadow: inset 1000px 0 0 0 #f1672d;
    color: white;
}
/* NavLinkHover -END- */
.navbar-brand > .brand {
    margin-left: 40px;
}
.navbar-brand > .brand > img {
    border: 2px dotted orangered;
    border-radius: 50%;
    padding: 7px;
    height: 82px;
    width: 82px;
}
.navbar-brand > .brand > strong {
    color: #f1672d;
    font-size: small;
}
.navbar-brand > .brand > p {
    color: #808080;
    font-size: x-small;
}

.h-about {
    margin-top: -18%;
    margin-left: 38%;
}

/* social icon */
.fa {
    padding: 25px;
    font-size: 23px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #f1672d;
}

/* title/headings */
h1, h2, h3, h4, h5 {
    color: #f1672d;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* card */
.card-title {
    color: #f1672d;
    font-size: large;
}
.card-subtitle {
    color: #f1672d;
    border-radius: 20%;
}
.card{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 18px;
    margin: 15px;
}

/* Help */

/* bg-color */
.bg-color {
    background-color: #e2e2e2;
    border-radius: 20px;
}
.bg-color > p {
    margin-bottom: 50px;
}

/* CONTACT PAGE */
/* left card */
#submit {
    font-size: large;
}
.info > h5 {
    color: #f1672d;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 35px;
}

/* SERVICES PAGE */
#linkBtnS {
    justify-content: space-between;
}
.card-img-top{
    padding: 27px;
    max-height: 300px;
    max-width: 300px;
}

/*  btn-bounce -START- */
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
}

.btn-bounce:hover {
    animation: bounce 1s;
}
/*  btn-bounce -END- */

/* drImg -START- */
.drImg {
    width: 100%;
}
/* drImg -END- */


/* --------------------++++++++++++++++++++-------------------- */

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* RESPONSIVE */
@media (min-width: 320px) and (max-width: 480px) /*Mobile devices*/ {
    body {
      /* background-color: red; */
    }
    .h-about {
        margin-top: -25%;
        margin-left: 38%;
        font-size: 10px;
    }
    .navbar-brand > .brand {
        margin-left: 9px;
    }
}
@media (min-width: 481px) and (max-width: 768px) /*iPads, Tablets*/ {
    body {
      /* background-color: greenyellow; */
    }
    .navbar-brand > .brand {
        margin-left: 25px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) /*Small screens, laptops*/ {
    /* body {
      background-color: skyblue;
    } */
}
@media (min-width: 1025px) and (max-width: 1440px) /*Extra large screens, TV*/ {
    /* body {
      background-color: yellow;
    } */
}
@media (min-width: 1441px) /*UHD screen*/ {
    /* body {
      background-color: pink;
    } */
}
/* RESPONSIVE */